<div>
  <label>Nombre:</label>
  <input type="text" ng-model="tuNombre" placeholder="Escribe tu nombre">
  <hr>
  <h1>Hola {{tuNombre}}, Bienvenido a CCUU !</h1>
  	<div ng-controller="UsersCtrl">
  		<h1>Message: {{message}}</h1>
	</div>
</div>