    

    <div class="container">
      <div class="jumbotron">
        <h1>#Colectivo CUU</h1>
        <p class="lead">
          En Colectivo CUU nos interesan los artistas, quienes vean en la plástica, la gráfica, el video y la tecnología una vía para manifestar sus universos y llevarlo de una manera distinta al público.
        </p>
        <p>
          <button type="button" class="btn btn-lg btn-primary">Ingresa :)</button>
        </p>
      </div>

      <div class="row marketing">
            
        <div class="row">
          <div class="col-lg-4">
            <h2>¿Quienés somos?</h2>
            <p>
              Somos un colectivo -De ahí nuestro nombre- que quiere mostrar el de la moneda dentro de la sociedad actual
            </p>
            <p> <!--a class="btn btn-lg btn-primary" href="#">Leer Más &raquo;</a>-->
              <button type="button" class="btn btn-lg btn-primary">Leer Más &raquo;</button>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <h2>Manejo de Contenido</h2>
            <p>
              El usuario puede hacerse de los contenidos expuestos en el sitio (texto, imágenes, gráficos y videos) y utilizarlos de manera personal respetando siempre los derechos de autor.
            </p>
            <p><!--a class="btn btn-lg btn-primary" href="#">Leer Más &raquo;</a>-->
              <button type="button" class="btn btn-lg btn-primary">Leer Más &raquo;</button>
            </p>
            
          </div>
        </div>


      <div class="footer">
        <p>&copy; Derechos reservados 2013</p>
      </div>

    </div> <!-- /container -->