<div>
  <label>Nombre:</label>
  <input type="text" ng-model="tuNombre" placeholder="Escribe tu nombre">
  <hr>
  <h1>Hola {{tuNombre}}, Bienvenido a CCUU !</h1>
  	<div ng-controller="UsersCtrl">
  		<div ng-repeat="user in users">
  		</div>
	</div>
</div>