<div>
	<div class ="jumbotron">
        <h2>Contacto</h2>
  	</div>
	<div class="well">
		<div class="row">
		<div class="col-md-7">
		  <h2 class="heading">Facultad de Ingenería <span class="text-muted">UACH</span></h2>
		  <p class="lead">Orgullo de ser UACH</p>
		</div>
			<div class="col-md-5">
			  <img class="img-responsive" src="http://maps.googleapis.com/maps/api/staticmap?center=FACULTAD%20DE%20INGENIERIA,%20UACH,%20Chihuahua&zoom=15&size=600x600&maptype=roadmap&markers=color:red%7Clabel:F%7C28.70309,-106.140472&sensor=false" >
			</div>
		</div>
	</div>
	<h3> Equipo</h3>

	<div class="column col-sm-12" id="main">
    	<hr>  
        <div class="row">
          <div class="col-sm-10">
            <h3>Enrique Ruiz</h3>
            <p>
              http://www.github.com/guenruiz
            </p>
            <h4><small class="text-muted">235810 · a235810@uach.mx</small></h4>
          </div>
          <div class="col-sm-2">
            <a class="pull-right">
                <img src="http://imageshack.us/a/img607/1/kkrm.png" class="img-circle"/>
            </a>
          </div>
        </div>
		<hr>	
        <div class="row">
          <div class="col-sm-10">
            <h3>Gabriela Valadez</h3>
            <p>
				https://github.com/GabyValsi
            </p>
            <h4><small class="text-muted">235222 · a235222@uach.mx</small></h4>
          </div>
          <div class="col-sm-2">
            <a class="pull-right">
                <img src="http://imageshack.us/a/img42/4198/k0m5.jpg" class="img-circle"/>
            </a>
          </div>
        </div>
	
    	<hr>  
        <div class="row">
          <div class="col-sm-10">
            <h3>Ale García</h3>
            <p>
				https://github.com/alegar
            </p>
            <h4><small class="text-muted">226002 · a226002@uach.mx</small></h4>
          </div>
          <div class="col-sm-2">
            <a class="pull-right">
                <img src="http://img824.imageshack.us/img824/4274/muqn.png" class="img-circle"/>
            </a>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-10">
            <h3>Lucía Cazares</h3>
            <p>
				https://github.com/LuciaCaz
            </p>
            <h4><small class="text-muted">239518 · a239518@uach.mx</small></h4>
          </div>
          <div class="col-sm-2">
            <a class="pull-right">
                <img src="http://imageshack.us/a/img571/4038/4hqh.png" class="img-circle"/>
            </a>
          </div>
        </div>
        <hr>
	</div>	
</div>